<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fl.sp.mapper.PsRolepermissionMapper">
    <delete id="DelByRid" parameterType="java.lang.String">
		delete from
		ps_rolepermission where rcode=#{rcode,jdbcType=VARCHAR}
	</delete>
    <!-- Oracle 一次性插入多条数据写法 -->
    <!--<insert id="AddRolePerm" parameterType="java.util.List">-->
        <!--insert into ps_rolepermission(rcode,pid) select a.* from (-->
        <!--<foreach collection="list.ftl" item="item" index="index"-->
                 <!--separator=" union all">-->
            <!--select #{item.rcode,jdbcType=VARCHAR},#{item.pid,jdbcType=VARCHAR} from dual-->
        <!--</foreach>-->
        <!--) a-->
    <!--</insert>-->
    <!-- sqlserver 一次性插入多条数据写法 -->
    <insert id="AddRolePerm" parameterType="java.util.List">
        insert into ps_rolepermission(rcode,pid) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.rcode,jdbcType=VARCHAR},#{item.pid,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>