body { font-family: "microsoft yahei","宋体",Verdana; font-size:12px; margin:0; line-height:150%; background-color:#fff;}
img{ margin:0px; padding:0px; border:0;}
p,ul,li,dt,dl,select{ margin:0px; padding:0px;}
table,td,option,{font-size:12px; font-family: "microsoft yahei","宋体",Verdana; line-height: 22px; color:#666;}

#container {margin:0 auto; width:1200px;}
#header { height:100px; background:url(zwfw_head.gif) left top no-repeat;}
.discribe{ float:left; margin-top:58px; margin-left:173px; _margin-left:87px; font-size:14px; color:#4f4c47;}
.top_link{ float:right; margin-top:47px; margin-right:16px; font-size:14px; color:#333333;  }
.top_link a{ color:#333333; text-decoration:none;}
.top_link a:hover{ color:#cc6600; text-decoration:underline;}

#menu { height:51px; background-color:#fa9504; margin-bottom:28px; }
#menu ul{ margin-left:75px; font-size:16px; color:#fff;}
#menu ul li{ list-style:none; float:left;}
#menu ul li a{ display:block; width:85px; height:33px; text-align:center; padding-top:18px; margin-right:39px; text-decoration:none; color:#fff;}
#menu ul li a:hover{ background:url(menu_bg.gif) left top repeat-x;}

#mainContent {  overflow:auto;zoom:1; margin-bottom:5px;}
/*-------------左边-------------*/
#sidebar { float:left; width:321px; background:#fff;}
.submenu{ border-top:none; border-bottom: 1px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; margin-bottom:6px;}
.title{ height:29px; background:url(title_bg.gif) left top repeat-x; padding-top:16px; padding-left:11px; color:#fff; font-size:16px; margin-bottom:6px; }
.title a{ text-decoration:none; color:#fff;}
.title a:hover{ text-decoration:underline; }
.submenu ul{ margin-top:15px; margin-left:23px; margin-bottom:15px; font-size:14px; color:#333;}
.submenu ul li{ list-style:none;}
.submenu ul li a{ font-size:14px; color:#333; text-decoration:none; line-height:30px; background:url(arrow.gif) left center no-repeat; padding-left:14px;}
.submenu ul li a:hover{ text-decoration:underline; color:#cc6600;}
.submenu p{ margin-top:15px; margin-left:23px; margin-bottom:15px; font-size:14px; color:#666; line-height:24px;}
/*-------------右边-------------*/
#content { float:right; width:855px; background:#fff; *overflow:hidden; _overflow:visble;
    height: 621px;
}
.biaoti{ font-size:20px; color:#474646; font-weight:bold; margin:10px 0;}
.jieshao{ height:130px; margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;  }
.jieshao p{ font-family: "microsoft yahei","宋体",Verdana; color:#666; margin-bottom:15px; line-height:24px; }
.list{ float:left; display:inline; margin-bottom:10px; }
.list ul{float:left; width:475px; height:30px; }
.list ul li{ float:left; list-style:none; font-size:14px; color:#474646; line-height:24px;}
.list ul li a{ display:block; width:220px; background:url(zwfw_texticon.gif) left center no-repeat; padding-left:15px; color:#474646; text-decoration:none; }
.list ul li a:hover{ color:#cc6600; text-decoration:underline;}
.but_link{ float:right; width:312px; height:28px;}
.but_link a{ display:inline-block; width:144px; height:27px; background-color:#ff9933; color:#fff; text-decoration:none; margin-left:10px; padding-top:6px; text-align:center;}
.but_link a:hover{ background-color:#ffb533;}
#part1{ background:url(zwfw_pic.gif) right center no-repeat;}
#part1 ul{ width:550px; height:85px;}
#part1 ul li{ float:left; list-style:none; font-size:14px; color:#474646; line-height:24px;}
#part1 ul li a{ display:block; width:260px; background:url(zwfw_texticon.gif) left center no-repeat; padding-left:15px; color:#474646; text-decoration:none; }
#part1 ul li a:hover{ color:#cc6600; text-decoration:underline;}
.line{ float:left;}
.part2{ float:left; width:805px; height:40px; margin-bottom:15px; _margin-bottom:0px;}
.selectx{ font-family: "microsoft yahei","宋体",Verdana; width:192px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
.inputx{ font-family: "microsoft yahei","宋体",Verdana; height:29px; background:url(input_bg.gif) left top repeat-x; font-size:12px; color:#999; border:none; padding-left:15px; }
#part3{ float:left;  width:805px; height:75px; margin-bottom:15px;  }
#ts{ float:left;  width:300px; height:70px; font-size:14px; color:#333; }
#bx_type{ float:right; width:500px; height:55px; margin-top:10px;}
#fwxm{float:left; display:inline; margin-bottom:10px; }
#fwxm ul{ float:left; width:810px; _width:825px;height:90px;}
#fwxm ul li{ float:left; list-style:none; width:80px; font-size:14px; color:#333; padding-right:35px; }
#fwxm ul li img{ margin-bottom:12px;}
#fwxm ul li a{ display:block; width:80px; height:90px; text-align:center; font-size:14px; color:#333; text-decoration:none;  }
#fwxm ul li a:hover{ color:#3399cc;}
#zcfg{ float:left; display:inline; margin-bottom:10px; }
#zcfg ul{ float:left; width:805px; height:60px;}
#zcfg ul li{ float:left; list-style:none; background:url(point.gif) left center no-repeat; padding-left:20px; width:230px; font-size:12px; color:#666; }
#zcfg ul li a{ font-size:12px; color:#666; text-decoration:none; line-height:24px;  }
#zcfg ul li a:hover{ color:#cc6600;}

#zcjd{ float:left; display:inline; margin-bottom:10px; }
#zcjd ul{ float:left; width:550px; height:60px;}
#zcjd ul li{ float:left; list-style:none; background:url(point.gif) left center no-repeat; padding-left:20px; width:230px; font-size:12px; color:#666; }
#zcjd ul li a{ font-size:12px; color:#666; text-decoration:none; line-height:24px;  }
#zcjd ul li a:hover{ color:#cc6600;}
#zcjd_r{ float:right; width:154px; margin-top:-20px; _margin-top:0px;}
#zcjd_r a{ display:block; margin-bottom:5px; padding-top:5px; text-align:center; background-color:#ff9933; width:154px; height:22px; color:#fff; text-decoration:none;}
#zcjd_r a:hover{ background-color:#ffb533;}
.more_pic{ float:left; margin-bottom:15px;}

#footer { height:119px; background:#3d3b37;}
#f_left{ float:left; padding-top:25px; margin-left:80px;}
#f_left img{ margin-right:15px;}
#f_right{ float:right; width:90px; margin-right:75px; color:#d3d1cf; padding-top:20px; text-align:center; }
#f_right img{ display:block; margin-bottom:10px; padding-left:16px;}
#f_middle{ width:550px; margin-left:450px; font-size:12px; color:#d3d1cf; line-height:24px; padding-top:28px;}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}





/*-------------首页样式-------------*/
.m_input{ width:273px; height:42px; border:solid 1px #d2cdca; background:url(input_bg1.gif) no-repeat left top; padding-left:35px; border-radius:3px; color:#666; font-size:12px; font-family: "microsoft yahei","宋体",Verdana; }
.m_password{ width:273px; height:42px; border:solid 1px #d2cdca; background:url(pass_bg.gif) no-repeat left top; padding-left:35px; border-radius:3px; color:#666; font-size:12px; font-family: "microsoft yahei","宋体",Verdana; }
#top{ margin:0 auto; height:41px;}
#top_left{ float:left; width:260px; padding-top:15px; color:#666;}
#top_right{ float:right; margin-right:18px;}
#top_right ul{ margin-top:10px; width:318px;}
#top_right ul li{ list-style:none; color:#333; float:left;}
#top_right ul li a{ color:#333; text-decoration:none; margin-right:15px; display:block; }
#top_right ul li a:hover{ color:#cc6600;}
#m_header{ margin:0 auto; height:100px; background:url(m_head_bg.gif) left top repeat-x;}
#important{ margin:0 auto; width:1200px; height:295px; margin-bottom:25px;}
#hydl{ float:left; width:386px; height:295px; background-color:#fa9504; }
#hydl p{ font-size:16px; color:#fff; margin:15px 0 0 37px;}
#dl{ margin:13px 0 0 7px; background-color:#fff; width:310px; height:207px; padding:18px 32px 16px 30px; font-size:14px; color:#666;}
#dl a{ color:#e68903;}
#dl a:hover{ color:#666; text-decoration:none;}
#ad{ float:right; width:812px; height:295px;}

#one{ float:left; margin:0 auto; width:1200px; height:242px; margin-bottom:25px; }
.m_title{ float:left; color:#474646; width:1148px; height:27px; font-size:20px; background:url(1f.gif) left top no-repeat; border-bottom:3px solid #e88e0c; padding:10px 0 0 52px; font-weight:bold; }
.one_content{ float:left; width:1200px; height:202px; background-color:#FFF; }
#one_left{ float:left; width:268px; height:174px; padding:28px 0 0 16px; background:url(1f_leftbg.gif) left top no-repeat;}
#one_right{ float:right; width:405px; height:174px; margin:14px 13px 0 0; border:1px solid #dfdfdf;}
#one_right ul{ width:404px; }
#one_right ul li{ float:left; list-style:none; width:101px; height:23px; background-color:#efefef; border-bottom:1px solid #dfdfdf; text-align:center; padding-top:8px;  }
#one_right ul li a{ display:block; color:#666666; text-decoration:none;  }
.tab_sel{ width:100px!important; position:relative; height:22px!important; background-color:#fff!important; border-top:2px solid #ffa12c; margin-top:-1px;}
.tab_sel a{ color:#333!important;}
#one_middle{ margin-left:323px; width:425px; padding-top:12px; }
#one_left ul{ float:left; }
#one_left ul li{ list-style:none; float:left; font-size:13px; color:#333; }
#one_left ul li a{ background:url(1f_icon01.gif) left center no-repeat; padding-left:10px;  text-decoration:none; color:#333;}
#one_left ul li a:hover{ text-decoration:underline; color:#cc6600;}
#one_zscx{ float:left; width:425px; height:77px;}
#one_zscx p{ font-size:16px; color:#333; background:url(zscx_icon.gif) left center no-repeat; padding-left:20px; margin-bottom:15px;}
.input_zscx{ width:176px; height:29px; background:url(input_bg.gif) left top repeat-x; font-family: "microsoft yahei","宋体",Verdana; color:#666666; border:0px; padding-left:10px; border-radius:3px;}
.select_zscx{ width:111px; height:29px; background:url(input_bg.gif) left top repeat-x; font-family: "microsoft yahei","宋体",Verdana; color:#666666; border:0px; }
#one_row2{ float:left; width:425px;  }
#one_ggtz{ float:left; width:270px;}
#one_ggtz p{ font-size:16px; color:#333; background:url(ggtz_icon.gif) left top no-repeat;  padding-left:20px; margin-bottom:20px;  }
#one_ggtz ul{ float:left;}
#one_ggtz ul li{ list-style:none; font-size:12px; color:#666;}
#one_ggtz ul li a{ text-decoration:none; color:#666; line-height:24px;}
#one_ggtz ul li a:hover{ color:#cc6600;}
#one_zxdh{ float:right; width:135px;}
#tel-zx{ float:left; width:135px; margin-bottom:8px; color:#333;}
#one_zxdh p{ font-size:16px; color:#333; background:url(zxdl_icon.gif) left top no-repeat;  padding-left:20px; margin-bottom:20px; }
#one_zxdh a{ font-size:12px; color:#e68903; text-decoration:none;  }
#one_zxdh a:hover{ text-decoration:underline;}
.yw_link{ float:left; margin:32px 0 0 14px; width:376px; height:26px;}
.js{ float:left; width:105px; margin-top:3px;}
.js a{ font-size:14px; color:#666; text-decoration:none;}
.js a:hover{ color:#cc6600;}
.yw_button{ float:right; width:231px; height:26px;}
.yw_button a{ display:inline-block; width:111px; height:21px; background-color:#ff9933; font-size:12px; color:#fff; text-decoration:none; text-align:center; padding-top:5px;}
.yw_button a:hover{ background-color:#ffb533;}

/*------------2F------------*/
#two{ float:left; margin:0 auto; width:1200px; height:282px; margin-bottom:25px;  }
.two_content{ float:left; width:1200px; height:244px; background-color:#FFF; }
.two_left{ float:left; display:inline;  width:720px; height:216px; margin:14px 0 0 10px; border:1px solid #dfdfdf;}
.two_left ul{ width:720px; height:31px; background-color:#efefef; border-bottom:1px solid #dfdfdf; }
.two_left ul li{ float:left; list-style:none; width:123px; height:23px;text-align:center; padding-top:8px;  }
.two_left ul li a{ display:block; height:23px; margin-top:-8px; padding-top:8px; color:#666666; text-decoration:none;  }
.two_left ul li a:hover{ width:123px; height:23px; background-color:#e6e6e5; margin-top:-8px; padding-top:8px;}
.tab_sel2{width:123px!important; position:relative; height:27px; background-color:#fff!important; border-top:2px solid #ffa12c; margin-top:-1px;  }
.tab_sel2 a{ color:#333!important;} 
.main_list{ float:left; display:inline; width:686px; height:126px; margin:35px 17px 0 17px;}
.left_arrow{ float:left; width:12px;  margin-top:46px;}
.right_arrow{ float:right; width:12px;  margin-top:46px; }
.list_cotent{ display:inline; margin-left:27px; width:629px; height:126px;}
.list_cotent ul{ float:left; background-color:#F00; width:647px; height:126px; background:url(list_ul_bg.gif) left top no-repeat; margin-left:15px; border:none;}
.list_cotent ul li{ width:303px; padding-left:20px; height:50px; list-style:none; font-size:12px; color:#666; text-align:left; margin-bottom:10px; line-height:22px;}
.list_cotent ul li a{ display:block; width:293px; color:#e88e0c; font-size:12px; text-decoration:none; text-align:left;}
.list_cotent ul li a:hover{ display:block; width:293px; background-color:#fff; color:#d98102;}
.two_right,.two_right2{ float:right; display:inline; width:381px; height:220px; margin:20px 36px 0 0;}
.right_tit{ float:left; width:363px; height:31px;  font-size:16px; color:#333; border-bottom:1px solid #dfdfdf; }
.right_con{ float:left; width:383px; display:inline; }
.two_right ul{ float:left; display:inline; margin:16px 14px 0 22px; width:329px; }
.two_right ul li{ list-style:none; width:329px; float:left; font-size:12px; color:#666; background:url(list_line.gif) left bottom no-repeat; padding-bottom:10px; line-height:22px;}
.two_right ul li a{ display:block; font-size:12px; color:#e88e0c; text-decoration:none; }
.two_right ul li a:hover{ color:#d98102;}
.list_arrow{ float:right; width:15px; height:186px;}

/*------------3F------------*/
#three{ float:left; margin:0 auto; width:1200px; height:282px; margin-bottom:25px;  }
.left_pic{ float:left; width:149px; margin-top:9px;}
.two_right2 ul{ float:right; margin-top:8px; width:200px; background:url(list_line.gif) left bottom no-repeat; padding-bottom:10px; }
.two_right2 ul li{ list-style:none; width:180px; float:left; font-size:12px; color:#666;  line-height:22px; background:url(point.gif) left center no-repeat; padding-left:15px;}
.two_right2 ul li a{ display:block; font-size:12px; color:#666; text-decoration:none; }
.two_right2 ul li a:hover{ color:#d98102;}

/*------------4F------------*/
#four{ float:left; margin:0 auto; width:1200px; height:260px; overflow:hidden; }
#four_left{ float:left; width:247px; height:162px; padding:40px 0 0 37px; background:url(4f_leftbg.gif) left top no-repeat;}
#four_left ul{ float:left; width:220px; }
#four_left ul li{ list-style:none; float:left; font-size:13px; color:#333; }
#four_left ul li a{ display:block; width:220px; background:url(1f_icon01.gif) left center no-repeat; padding-left:10px;  text-decoration:none; color:#333;}
#four_left ul li a:hover{ text-decoration:underline; color:#cc6600;}

#four_middle{ margin-left:320px; width:615px; margin-top:10px; }
#sstj{ float:left; width:298px;}
#sstj p{ float:left; width:298px; margin-top:10px; font-size:12px; color:#666; line-height:24px; margin-bottom:10px;}
#sstj p a{ text-decoration:none; color:#666;}
#sstj p a:hover{ color:#e88e0c;}
#sstj img{float:left; }
.four_button{ float:left; position:relative; margin-top:12px; margin-left:70px; _margin-left:33px;   background-color:#ff9933; }
.four_button a{ display:block; width:154px; height:22px; padding-top:5px; text-align:center; text-decoration:none; color:#fff;}
.four_button a:hover{ display:block;  height:22px; background-color:#ffb533;}
#sstj_tit{  float:left; width:273px; height:31px;  font-size:16px; color:#333; border-bottom:1px solid #dfdfdf; background:url(sstj_icon.gif) left top no-repeat; padding-left:25px; }
#gjsszc{ float:right;  width:290px; position:relative; overflow:hidden;   }
#gjsszc_tit{  float:left; width:265px; height:31px;  font-size:16px; color:#333; border-bottom:1px solid #dfdfdf; background:url(ggsszc_icon.gif) left top no-repeat; padding-left:25px; }
#gjsszc p{ float:left; width:284px; margin-top:10px; font-size:12px; color:#666; line-height:24px; margin-bottom:10px;}
#gjsszc p a{ text-decoration:none; color:#666;}
#gjsszc p a:hover{ color:#e88e0c;}
#flzxfw{ float:right;  width:227px; margin-right:15px;}
#flzxfw_tit{  float:left; width:202px; height:31px;  font-size:16px; color:#333; border-bottom:1px solid #dfdfdf; background:url(ggsszc_icon.gif) left top no-repeat; padding-left:25px; margin-top:10px; }
#flzxfw ul{ float:left; margin-top:15px; width:220px;}
#flzxfw ul li{ list-style:none; font-size:12px; color:#666; line-height:28px; background:url(point.gif) left center no-repeat; padding-left:15px;}
#flzxfw ul li a{ text-decoration:none; color:#666;}
#flzxfw ul li a:hover{ color:#e68903;}
.four_more{ display:inline;  background:none!important; float:right; width:100px; margin-right:10px;}
.four_more a{ background:none!important; float:right; color:#e68903!important; text-decoration:none; }
.four_more a:hover{ text-decoration:underline!important;}





/*-------------法律服务-------------*/
#header1 { height:100px; background:url(flf_02.gif) left top no-repeat;}
/*-------------右边-------------*/
.but_link1{ float:right; width:155px; height:27px; margin-right:40px; margin-top:20px;}
.but_link1 a{ display:inline-block; width:144px; height:27px; background-color:#ff9933; color:#fff; text-decoration:none; margin-left:10px; padding-top:6px; text-align:center;}
.but_link1 a:hover{ background-color:#ffb533;}
#ts1{ float:left; margin-top:28px;  width:300px; height:70px; font-size:14px; color:#333; }
#tp{float:left; margin-top:18px; margin-left:-180px; width:146px; height:40px;}
#tp1{float:left; margin-top:18px; margin-left:-34px; width:146px; height:40px;}
#tp2{float:left; margin-top:18px; margin-left:10px; width:146px; height:40px;}
#zcjd_r1{ float:right; width:154px; margin-top:20px; _margin-top:20px; margin-right:40px;}
#zcjd_r1 a{ display:block; margin-bottom:5px; padding-top:5px; text-align:center; background-color:#ff9933; width:154px; height:22px; color:#fff; text-decoration:none;}
#zcjd_r1 a:hover{ background-color:#ffb533;}



/*------------- 法律服务-法律服务内容 -------------*/
#dabiaoti{ font-family: "microsoft yahei","宋体",Verdana;  font-size:24px; font-weight:bold; text-align:center; color:#333; width:800px;}
#shijian{ font-family:"宋体"; font-size:12px; text-align:center; color:#666666;}








/*-------------境外投资-------------*/
#header2{ height:100px; background:url(jwt_02.gif) left top no-repeat;}
/*-------------右边-------------*/
.selectx2{ font-family: "microsoft yahei","宋体",Verdana; width:83px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
.selectx2_1{ font-family: "microsoft yahei","宋体",Verdana; width:98px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
.weizhi2{float:left; margin-left:22px;}
.jieshao2{ height:433px; margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;  }
.jieshao2 p{ font-family: "microsoft yahei","宋体",Verdana; color:#666; margin-bottom:15px; line-height:24px; }
#jiantou{float:left; margin-top:14px; margin-left:auto; width:10px; height:19px;}
#jiantou2{float:right; margin-top:14px; margin-right:auto; width:10px; height:19px;}
#fwxm2{float:left; display:inline; margin-bottom:10px; height:304px; width:830px; }
#fwxm2 ul{ float:left; width:810px; _width:810px;height:90px;}
#fwxm2 ul li{ float:left; list-style:none; width:80px; font-size:14px; color:#333; padding-right:190px; _padding-right:0px; }
#fwxm2 ul li img{ margin-bottom:12px;}
#fwxm2 ul li a{ display:block; width:263px; height:73px; text-align:center; font-size:14px; color:#333; text-decoration:none;  }
#fwxm2 ul li a:hover{ color:#3399cc;}




/*-------------贸易促进-------------*/
#header3{ height:100px; background:url(myc_02.gif) left top no-repeat;}
/*-------------右边-------------*/
.selectx3{ font-family: "microsoft yahei","宋体",Verdana; width:120px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
.selectx3_1{ font-family: "microsoft yahei","宋体",Verdana; width:180px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
.weizhi{float:left; margin-left:34px;}
.jieshao3{ height:350px; margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;   }
.jieshao3 p{ font-family: "microsoft yahei","宋体",Verdana; color:#666; margin-bottom:15px; line-height:24px; }
#jmhd{ float:left; margin-left:46px;}




/*------------- 法律服务-在线商事调解服务 -------------*/
/*-------------右边-------------*/
.dw{font-family:"微软雅黑"; font-size:14px; color:#666666; height:44px;}
#gundong{ overflow:auto; height:656px;}
#tongyi{ float:left; margin-left:auto; margin-top:4px; }
#zcjd_rf{ float:left; width:154px; margin-left:110px;  cursor:pointer; margin-top:auto; text-align:center;  height:32px;  background-color:#ff9933; border:none; color:#fff; }
#zcjd_rf a{ display:block; margin-bottom:5px; padding-top:5px; text-align:center; background-color:#ff9933; width:154px; height:22px; color:#fff; text-decoration:none;}
#zcjd_rf a:hover{ background-color:#ffb533;}




/*------------- 法律服务-商事调解 -------------*/
/*-------------右边-------------*/
.jieshao_3{ height:130px; margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:2px; _padding-bottom:5px; margin-bottom:20px; }
.jieshao_3 p{ font-family: "microsoft yahei","宋体",Verdana; color:#666; margin-bottom:15px; line-height:24px; }
#sczl{float:left; margin-left:13px; margin-top:26px; width:823px; height:251px; position:relative; display:inline;}
#tiaojie{ float:left; margin-left:60px; margin-top:-80px; width:88px; height:264px; list-style:none; text-align:right; font-family:"微软雅黑"; font-size:12px; line-height:50px; color:#666666; display:inline; position:relative;}
#kong{float:left; margin-left:15px; margin-top:20px;list-style:none; position:relative; display:inline;}
.shangchuan{ float:left; margin-left:45px; margin-top:22px; text-align:right; list-style:none; line-height:40px; width:110px; height:166px; font-family:"微软雅黑"; font-size:12px; color:#666666; position:relative; display:inline;}
.shangchuan1{list-style:none; line-height:40px; width:110px; height:166px; font-family:"微软雅黑"; font-size:12px; color:#666666; position:relative; display:inline;}
#ditu{ background-image:url(flfw-sw_03.gif); width:849px; height:370px; float:left; margin-left:auto;}


/*------------- 境外投资-投资项目和合作机会 -------------*/
/*-------------右边-------------*/
#xmnr{ float:left; margin-top:14px; margin-left:33px;}
#xmnr ul{ list-style:none;}
#xmnr ul li{font-family:'微软雅黑'; font-size:12px; margin-top:10px;}
.ptl{float:right; margin-right:58px; margin-top:22px; display:inline; position:relative;}
.x{ float:left; margin-top:20px;}




/*------------- 政务服务-保单 -------------*/
#mainContent {  overflow:auto; zoom:1; margin-bottom:5px;}

#content_bd { float:left; margin-left:25px; width:555px;  background:#fff;*overflow:hidden;_overflow:visble;}
.biaoti_bd{ font-size:20px; color:#474646; font-weight:bold; margin:10px 0;}
.xzbaodan{ height:470px; width:504px; margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;  }
.xzbaodan p{ font-family: "microsoft yahei","宋体",Verdana; color:#666; margin-bottom:15px; line-height:24px; }
#content_sc { float:right; margin-right:25px; width:555px;  background:#fff;*overflow:hidden;_overflow:visble;}
#zcbd{ float:left; width:483px; height:52px; margin-top:30px;}
#zcbd a{ display:block; text-align:center; background-color:#ff9933; width:483px; height:52px; color:#fff; text-decoration:none; line-height:50px; font-family:"微软雅黑"; font-size:14px; }
#zcbd a:hover{ background-color:#ffb533;}




/*------------- 政务服务-增值保险 -------------*/
.zxtb{ float:left; width:155px; height:27px; margin-left:22px; margin-top:22px;}
.zxtb a{ display:inline-block; width:144px; height:27px; background-color:#ff9933; color:#fff; text-decoration:none; margin-left:10px; padding-top:6px; text-align:center;}
.zxtb a:hover{ background-color:#ffb533;}
.xz{ font-family:"微软雅黑"; font-size:14px; color:#333333;}




/*------------- 贸易促进-海外展会 -------------*/
.selectx{ font-family: "microsoft yahei","宋体",Verdana; width:154px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
.selectx2{ font-family: "microsoft yahei","宋体",Verdana; width:182px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}
 
/*CSS badoo style pagination*/

DIV.badoo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 10px; COLOR: #d47d10; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center;
}
DIV.badoo A {
	BORDER-RIGHT: #d47d10 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d47d10 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; BORDER-LEFT: #d47d10 2px solid; COLOR: #d47d10; PADDING-TOP: 2px; BORDER-BOTTOM: #d47d10 2px solid; TEXT-DECORATION: none
}
DIV.badoo A:hover {
	BORDER-RIGHT: #d47d10 2px solid; BORDER-TOP: #d47d10 2px solid; BORDER-LEFT: #d47d10 2px solid; COLOR: #ff5a00; BORDER-BOTTOM: #d47d10 2px solid
}
DIV.badoo A:active {
	BORDER-RIGHT: #d47d10 2px solid; BORDER-TOP: #d47d10 2px solid; BORDER-LEFT: #d47d10 2px solid; COLOR: #ff5a00; BORDER-BOTTOM: #d47d10 2px solid
}
DIV.badoo SPAN.current {
	BORDER-RIGHT: #d47d10 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d47d10 2px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #d47d10 2px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #d47d10 2px solid; BACKGROUND-COLOR: #d47d10
}
DIV.badoo SPAN.disabled {
	DISPLAY: none
}



/*------------- 政务服务-ATA预约办理（资料提交） -------------*/
.lianjie{float:left; margin-left:205px; _margin-left:205px; margin-top:-35px; _margin-top:-25px; *margin-top:-25px; color:#666666; font-family:"微软雅黑"; font-size:12px; position:relative; display:inline;} 
.lianjie a{ text-decoration:none; color:#e88e0c;}
#bz2{float:left; margin-top:15px; margin-left:120px; width:250px; height:97px; line-height:25px; display:inline; list-style-type:none; color:#666666;}
#bz2 ul{list-style:none;}



/*------------- 境外投资-项目咨询 -------------*/

#tb{ float:right; margin-right:20px; width:106px; height:106px; display:inline;}
.h{ float:left; margin-top:30px; width:822px; height:11px;}




/*------------- 贸易促进-在线报名 -------------*/
#xmnr1{float:left; margin-top:14px; margin-left:33px; display:inline;}
#xmnr1 ul{ list-style:none;}
#xmnr1 ul li{font-family:'微软雅黑'; font-size:12px; line-height:24px;}
.ptl{float:right; margin-right:28px; margin-top:22px; display:inline; position:relative; _margin-top:-132px; }
.x{ float:left; margin-top:20px;}
#tijiao{ float:left; margin-top:30px; margin-left:33px; width:600px; height:432px; display:inline;}




/*------------- 政务服务-许可证在线申请 -------------*/
#jisong{margin-left:50px; font-family:'微软雅黑'; font-size:14px; color:#e88e0c;}




/*------------- 政务服务-CO待寄服务 -------------*/

.selectxCO{ font-family: "microsoft yahei","宋体",Verdana; width:92px; height:29px; background:url(input_bg.gif) left top repeat-x; border:none;}



/*------------- 我的账户 -------------*/
#header { height:100px; }
.titl{ height:29px; background:url(title_bg.gif) left top repeat-x; padding-top:16px; padding-left:11px; color:#fff; font-size:16px;  }
.title1{ height:30px; background:url(images/wdzh_39.gif) left top repeat-x; padding-top:16px; padding-left:11px;  font-size:16px; }
.title1 a{ text-decoration:none; color:#333333;}
.title1 a:hover{ text-decoration:underline; }
/*------------- 右边 -------------*/
.jieshaoh{ height:657px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;  }






/*------------- 贸易促进-海外会展2 -------------*/
.jieshao3hw{ height:auto!important; margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;   }
#henxian{ margin-top:30px; margin-left:auto; height:11px;}
.but_linkdd{ margin-left:450px; width:312px; height:28px;}
.but_linkdd a{ display:inline-block; width:144px; height:27px; background-color:#ff9933; color:#fff; text-decoration:none; margin-left:10px; padding-top:6px; text-align:center;}
.but_linkdd a:hover{ background-color:#ffb533;}
#xghz{width:600px; margin-top:20px; font-family:"微软雅黑"; font-size:12px; color:#666666; line-height:24px;}
#xghz p{font-family:'微软雅黑'; font-size:14px; color:#474646; font-weight:bold; margin-top:20px; }
#xghz ul{ list-style:none;}
#xghz ul li{ font-family:"微软雅黑"; font-size:12px; color:#666666;}


#header { height:100px; background:url(images/wdzh_02.gif) left top no-repeat;}
.titl{ height:29px; background:url(title_bg.gif) left top repeat-x; padding-top:16px; padding-left:11px; color:#fff; font-size:16px;  }
.title1{ height:30px; background:url(images/wdzh_39.gif) left top repeat-x; padding-top:16px; padding-left:11px;  font-size:16px; }
.title1 a{ text-decoration:none; color:#333333;}
.title1 a:hover{ text-decoration:underline; }
/*------------- 右边 -------------*/
.jieshaoh{ height:657px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;  }




/*------------- 登陆页面 -------------*/
#headerdl { height:100px; background:url(/images/dl_02.gif) left top no-repeat;}
#menudl { width:651px; height:51px; background-color:#fa9504; float:right; margin-top:26px;}
#menudl ul{ margin-left:55px; font-size:16px; color:#fff;}
#menudl ul li{ list-style:none; float:left;}
#menudl ul li a{ display:block; width:70px; height:33px; text-align:center; padding-top:18px; margin-right:20px; text-decoration:none; color:#fff;}
#menudl ul li a:hover{ background:url(/images/menu_bg.gif) left top repeat-x;}
#dll{ background:url(/images/dl_04.gif); margin-left:auto; margin-top:20px; width:1200; height:354px;}
#dllz{ background:url(zc-2_03.gif) top left repeat-x; margin-left:auto; margin-top:20px; width:1200; height:945px; }
#gd{ overflow:auto; height:172px; width:573px; margin-left:32px; margin-top:15px; border-bottom: 3px solid #dfdfdf;  border-top: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}

.m_input1{  height:42px; border:solid 1px #d2cdca;padding-left:35px; border-radius:3px; color:#666; font-size:12px; font-family: "microsoft yahei","宋体",Verdana; }
#gldl{ background:url(gldl_03.gif) top left repeat-x; margin-left:auto; margin-top:20px; width:1200; height:355px; }

#htdl{ float:left; width:1400px; height:700px; background:url(htdl_02.gif) left top repeat-x;}
#ht{ float:left; margin-top:167px; margin-left:316px; background:url(htdl_03.gif); width:804px; height:335px;}

#dllz{ background:url(zc-2_03.gif) top left repeat-x; margin-left:auto; margin-top:20px; width:1200; height:945px; }
#gd{ overflow:auto; height:172px; width:573px; margin-left:32px; margin-top:15px; border-bottom: 3px solid #dfdfdf;  border-top: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}

.m_input1{  height:42px; border:solid 1px #d2cdca;padding-left:35px; border-radius:3px; color:#666; font-size:12px; font-family: "microsoft yahei","宋体",Verdana; }


#headerz{ height:100px; background:url(zxcx_02.gif) left top no-repeat;}
.jieshaoz{margin-top:18px; border-top:3px solid #e88e0c; border-bottom: 3px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:25px; _padding-bottom:5px; margin-bottom:20px;  }
.jieshaoz p{ font-family: "microsoft yahei","宋体",Verdana; color:#666; margin-bottom:15px; line-height:24px; }
#zxxx{font-family:'微软雅黑'; font-size:12px; color:#666666;}
#zxxx ul{ list-style:none;}

.bk{ background:url(wdzh_42.gif);}


/*-------------政务服务-------------*/
#header0 { height:100px; background:url(zwfw_head.gif) left top no-repeat;}


/*------------- 江苏省国际企业资信管理平台后台登陆 -------------*/
#qydl{ float:left; width:1400px; height:700px; background:url(qidl.gif) left top repeat-x;}
#qy{ float:left; margin-top:163px; margin-left:280px; background:url(ht_03.gif); width:814px; height:350px;}




/*-------footer------*/
#bottom {
    width: 100%;
    height:105px;

    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 6px;
    color: #666;
    font-family: "宋体";
    font-size: 12px;
    line-height: 26px;
   
}


.img_jc {
    display: table;
    float: left;
    margin: 12px 0px;
margin-right:30px;
    border: 0px;
}

.copyright {
    display: table;
    float: left;
}

.img_wx {
    display: table;
    float: right;
    border: 0px;
}






